
@media (max-width: 640px){
    .content {
        display: flex
    }
}

.content .contentLi {
    margin: 10px;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    position: relative;

}

.content .contentLi .icons {
    transition: all 0.3s linear;
    display: block;
}

.content .contentLi::after {
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    border-radius: 3px;
    background-color: red;
    opacity: 0;
    z-index: -1;
    color: #fff;
    transition: all 0.3s linear;
 
}

.content .contentLi:hover .icons {
    color: #fff;
    font-size: 17px;  
}

.content .contentLi:hover::after {
    opacity: 1;
    transform: scale(0.8);
}

.content .contentLi::after {
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    border-radius: 3px;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s linear;
}

.content .contentLi:nth-child(1) {
    border: 2px solid #34af23;
    color: #34af23;
}

.content .contentLi:nth-child(1)::after {
    background-color: #34af23;
    color: #34af23;
}

.content .contentLi:nth-child(2) {
    border: 2px solid #17294F;
    color: #17294F
}

.content .contentLi:nth-child(2)::after {
    background-color: #17294F;
    color: #17294F
}

.content .contentLi:nth-child(3) {
    border: 2px solid #007bb6;
    color: #007bb6
}

.content .contentLi:nth-child(3)::after {
    background-color: #007bb6;
    color: #007bb6
}

.content .contentLi:nth-child(4) {
    border: 2px solid #db4a39;
    color: #db4a39;
}

.content .contentLi:nth-child(4)::after {
    background-color: #db4a39;
    color: #db4a39;
}

